.container {
  width: 100%;
  background-color: #fefefe;
  font-size: 1.3rem;

  input {
    width: 24px;
    aspect-ratio: 1/1;
    position: absolute;
  }

  input[type='checkbox']:checked + label {
    .checkbox_circle {
      border-color: rgba(0, 131, 0, 0.452);
      visibility: visible;
    }
    .content {
      color: #d7d7d7;
    }
    .cross_out {
      width: 100%;
    }
  }
}

.content {
  position: relative;

  transition: color 0.2s;
}

.checkbox_label {
  padding: 8px 5px;
  box-sizing: border-box;
  width: calc(100%);
  color: #585858;

  border-top: 1px solid #e9e9e9;

  transition: box-shadow 0.2s ease;
  cursor: pointer;

  align-items: center;
  display: flex;
  gap: 10px;

  &:hover {
    position: relative;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.06);
  }
}

.checkbox_wrapper {
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  width: 26px;
  aspect-ratio: 1/1;
}

.checkbox_circle {
  transition: visibility 0.03s;
  visibility: hidden;
  z-index: 100;
  border-bottom: 2px solid rgba(0, 131, 0, 0.452);
  border-right: 2px solid rgba(0, 131, 0, 0.452);
  width: 8px;
  height: 12px;
  transform: rotate(45deg);
  position: relative;
  left: 7px;
  top: 4px;
}

.cross_out {
  background-color: #d7d7d7;
  width: 0;
  transition: width 0.15s;
  height: 2px;
  position: absolute;
  top: 50%;
}
